/* GLOBAL STYLING */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #111;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 15px 25px;
    position: fixed;
    width: 97%;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav a.active {
    color: #e00000;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 70vh;
    background: url("../images/banner.jpg") center/cover;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.hero-text h2 {
    font-size: 48px;
    color: rgb(95, 94, 94);
    text-transform: uppercase;
}

.hero-text p {
    color: #6c6969;
    font-size: 20px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    background: #e00000;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: white;
    padding: 15px;
    height:80%;
    width:100;
    border-radius: 8px;
    text-align: center;
    transition: transform .3s;
}

.card img {
    width: 100%;
    border-radius: 8px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.15);
}

/* FORM */
form {
    max-width: 450px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

button {
    background: #e00000;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.status {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: white;
    margin-top: 40px;
}
